* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Helvetica;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

/* Navbar */
.navbar-brand {
    width: 100px;
    height: 34px;
}

.off-navbar {
    width: 50%;
}

/* Color */
.darkBlue {
    color: #0D28A6;
}

.bgdarkBlue {
    background-color: #0D28A6;
}

.purpleNude {
    color: #cfd4ed;
}

.bg {
    background-color: #F1F3FF;
}

/* Home */
.hero {
    padding-top: 5%;
    padding-bottom: 5%;
}

.img_car {
    margin-left: 15px;
}

.kolom1 {
    padding-left: 9%;
    padding-top: 9%;
}

.kolom1 p {
    margin-right: 15%;
}

/* Why Us */
.card-title {
    font-weight: bold;
}

/* Getting Starter */
.gettingstar {
    margin-top: 100px;
    padding: 74px 0 74px 0;
    border-radius: 13px;
    background-color: rgba(13, 40, 166, 1);
}

/* Testimonial */
.item {
    width: 100%;
    background-color: rgba(241, 243, 255, 1);
}

.card-left {
    width: 50%;
    height: 50%;
    margin: 50px 10px;
}

.card-right {
    text-align: justify;
    font-size: 12px;
    padding: 50px 30px 0 20px;
}

.card-right i {
    color: gold;
    padding-bottom: 10px;
}

.Testimonial-tittle {
    text-align: center;
    padding-top: 100px;
}

.owl-carousel .card-body {
    display: flex;
}

.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
}

/* FAQ */
.accordion .card-header {
    font-family: Helvetica;
    font-size: 14px;
}

.accordion .card-header::after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
}

.accordion .card-header.collapsed::after {
    content: "\f078";
}

.accordion .card-block .card-body {
    font-size: 14px;
}

/* Footer */
.list-footer {
    list-style: none;
    padding-left: 0;
}

.list-footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.list-footer li a {
    text-decoration: none;
    color: #151515;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 576px) {
    html {
        overflow-x: hidden;
    }

    /* Navbar */
    .navbar-collapse {
        display: block;
    }

    /* testimonial */
    .item {
        width: 95%;
        margin-left: 3%;
    }

    .card-left {
        width: 30%;
        margin: 30px 35%;
    }

    .card-right {
        font-size: 12px;
        padding: 0 20px 30px 20px;
    }

    .card-right i {
        color: gold;
        text-align: center;
    }

    .faq-icon {
        text-align: center;
        padding-bottom: 20px;
    }

    .Testimonial-tittle {
        text-align: center;
        padding-top: 50px;
    }

    .owl-carousel .card-body {
        display: block;
    }

    /* Why-us */
    .card {
        margin-top: 15px;
    }

    /* Getting Starter */
    .gettingstar {
        margin-top: 50px;
        padding: 64px 0 64px 0;
    }
}

/* cari mobil */
.form-cari {
    margin-top: -10px;
    padding-bottom: 100px;
}

.form-mobil {
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin-top: -70px;
    z-index: 3;
}

.form-mobil .col-auto {
    padding: 10px;
}

.form-control {
    border-right: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
}

.input-group-text {
    background-color: #fff;
    border-left: none;
}

.input-group-text i {
    color: #8A8A8A;
}

.form-select:hover {
    border-color: #5CB85F;
}

.pilih {
    padding: 20px 0;
}

.section-search {
    margin-top: -80px;
    width: 1047px;
    height: 142px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: absolute;
    z-index: 3;
}

.section-search .pencarianmu {
    margin: 18px 0px 0px 44px;
}

.section-search .btn-search {
    margin-top: 27px;
}


.section-search .search-option {
    margin-bottom: 20px;

}

.section-search .pencarianmu {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.section-search .form-label {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
}

.section-search .form-control {
    font-weight: lighter;
    font-size: 12px;
    line-height: 18px;
}

.section-search .form-control:focus {
    border-color: #5CB85F !important;
    box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.section-search .form-select option {
    margin: 10px 10px;
}

.section-search .btn-search {
    background: #5cb85f;
    border-radius: 2px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.section-search .btn-search:focus {
    box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.section-search .customsearchgroup {
    border-right: 0;
    height: 38px;

}

.section-search .input-group .customsearchimg {
    background-color: transparent;
    border-left: 0;

}

/* Gijgo Dropdown */
.section-search .gj-dropdown {
    width: 200px;
}

.gj-dropdown-bootstrap-4 [role=presenter] {
    width: 200px;
    z-index: 0;
}

.section-search select:hover {
    background-color: transparent;
}

.section-search .placeholder {
    background-color: transparent;
}

.gj-dropdown-bootstrap-4 [role="presenter"] {
    background-color: transparent;
}

.gj-dropdown-bootstrap-4 [role="presenter"] [role="display"] {
    font-size: 12px;
}

ul.gj-list-bootstrap li [data-role="display"] {
    font-size: 12px;
}

.btn-outline-secondary:hover {
    color: #6c757d;
    border-color: #5CB85F !important;
}

.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.list-group-item {
    border: none;
}

ul.gj-list-bootstrap {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


.list-group-item.active {

    background-color: #C9E7CA;
    border-color: transparent;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #5CB85F;
}

/* Datepicker */
.section-search .gj-datepicker .datepicker {
    border-right: 0;
}

.gj-picker div[role=body] {
    margin: 16px !important;
}

.gj-datepicker [role=right-icon] {
    z-index: 0;
}

.section-search .gj-datepicker .input-group-append .btn {
    padding-right: 20px;
    width: max-content;
    border-left: none;
    border-radius: 0;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #5cb85f;
}

.gj-picker div[role=navigator] {
    margin-bottom: 10px;
}

.gj-picker div[role=navigator] div[role=period] {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.gj-picker tr[role=week-days] {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.gj-button,
.gj-button-md,
.gj-cursor-pointer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.gj-picker modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: none;
    justify-content: center !important;
    padding: 0px;
    border-top: 1px solid #dee2e6;
}

button.btn.btn-default {
    background: #DEF1DF;
    border-radius: 2px;
    width: 108px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

button.btn.btn-default:hover {
    background: #5cb85f;

}


.section-cars .card-cars {
    width: 333px;
    height: 586px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 40px 24px;
}


.section-cars .card-cars .cars-img {
    width: 100%;
    height: 15vw;
    border-radius: 2px;
    object-fit: cover;
    margin-bottom: 40px;
}

.section-cars .card-cars h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.section-cars .card-cars h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.section-cars .card-cars p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.section-cars .card-cars .spec-cars {
    margin-bottom: 24px;
}

.section-cars .card-cars .spec-cars .spec-detail {
    margin-bottom: 16px;
}

.section-cars .card-cars .spec-cars .spec-detail .spec-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section-cars .card-cars .button-cars .btn-button-cars {
    width: 285px;
    height: 48px;
    background: green;
    border-radius: 2px;
}